<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>무신사 스토어</title>
</head>
<body>
    <h1>브랜드별 카테고리 최저가 상품</h1>
    <p>준비된 데이터는 다음과 같습니다.</p>
    
    <table border="1">
        <thead>
            <tr>
                <th>브랜드</th>
                <th th:each="categoryProduct : ${brandCategories[0].categoryProducts}"
                    th:text="${categoryProduct != null ? categoryProduct.category.name : ''}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="brandCategory : ${brandCategories}">
                <td th:text="${brandCategory.brandName}"></td>
                
                <td th:each="categoryProduct : ${brandCategory.categoryProducts}">
                    <span th:if="${categoryProduct != null and categoryProduct.product != null}"
                          th:text="${#numbers.formatInteger(categoryProduct.product.price, 0, 'COMMA')}"></span>
                    <span th:unless="${categoryProduct != null and categoryProduct.product != null}"></span>
                </td>
            </tr>
        </tbody>
    </table>
    
    <br>
    <p><a href="/admin/brands/register">브랜드 관리</a></p>
    
</body>
</html>
